<img src="data:image/png;base64,<%= qrImage %>" alt="QR Code" />

<form action="send-message" method="post">
    <input type="text" name="text" id="text">
    <button id="btn-submit">submit</button>
</form>
